# Домашнее задание по теме: MySQL

## Подготовка

Установка `MySQL Community Server` + `MySQL Workbench`:

- [MySQL Community Server](https://dev.mysql.com/downloads/mysql/)
    
- [MySQL Workbench](https://dev.mysql.com/downloads/workbench/)

In [3]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# для Linux
#!which pip

# для Windows
!pip -V

pip 20.3.3 from C:\Anaconda3\envs\one\lib\site-packages\pip (python 3.8)

In [8]:
# установка необходимых пакетов
#!conda install SQLAlchemy pymysql -y

In [6]:
# импорт необходимых пакетов
import pandas as pd    # пакет для работы с таблицами

from sqlalchemy import create_engine

import sqlalchemy
sqlalchemy.__version__

'1.3.23'

In [13]:
# данные для подключения к серверу MySQL
user='root'
password='passworddb'
host='127.0.0.1'
port='3306'

In [19]:
# подключение к серверу MySQL (engine)
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}")
engine

Engine(mysql+pymysql://root:***@127.0.0.1:3306)

## ERR Model

<img src="images/eer_model_hw.png"/>

## Создание БД

In [33]:
db_name='store_db'

with engine.connect() as connection:
    connection.execute(f'DROP DATABASE IF EXISTS {db_name}')    # Удалить, если такая БД существует
    connection.execute(f'CREATE DATABASE {db_name}')            # Создать БД
    connection.execute(f'USE {db_name}')                        # Установить БД по-умолчанию

## Создание таблиц

In [34]:
# items

with engine.connect() as connection:
    connection.execute("""CREATE TABLE items (
                        id INT NOT NULL AUTO_INCREMENT,
                        name VARCHAR(20) NOT NULL,  
                        type ENUM('product', 'service') NOT NULL,
                        sale_date DATE NOT NULL,
                        PRIMARY KEY (id))""")

In [35]:
# categories

with engine.connect() as connection:
    connection.execute("""CREATE TABLE categories (
                        id INT NOT NULL AUTO_INCREMENT,
                        name VARCHAR(20) NOT NULL,
                        PRIMARY KEY (id))""")

In [ ]:
# prices

In [ ]:
# items_categories

## Заполнение таблиц

(Самостоятельно придумать данные для заполнения, это не имеет значения. 5-15 значений в каждой таблице)

In [ ]:
# items

In [ ]:
# categories

In [ ]:
# prices

In [ ]:
# items_categories

## Проверка заполнения таблиц

(Вывести данные, которые были записаны в таблицы)

In [ ]:
# items

In [ ]:
# categories

In [ ]:
# prices

In [ ]:
# items_categories

## Обновление данных

In [ ]:
# изменить одно наименование (name) товара

In [ ]:
# проверить, что наименование изменилось

## Удаление данных

In [ ]:
# удалить один товар с условием

In [ ]:
# проверить, что наименование товар был удален из таблицы items

In [ ]:
# проверить, что наименование товар был удален из таблицы items_categories

In [ ]:
# проверить, что наименование товар был удален из таблицы prices

## ERR Model

<img src="images/eer_model_hw.png"/>

## Получение данных (с условиями)

In [ ]:
n = None # выбрать n
# вывести все данные из таблицы prices, где price больше n

In [ ]:
n = None # выбрать n
nid = None # выбрать nid
# вывести все данные из таблицы prices, где price больше n И item_id не равен nid

In [ ]:
first_syms = None # выбрать символы (буква или несколько букв)
# вывести все данные из таблицы items, где name начинается с first_syms

In [ ]:
last_sym = None # выбрать символ (буква)
item_type = None # выбрать тип

# объединить (union) результаты запросов (повторения допускаются):
# name, type из items, где name заканчивается символом last_sym
# name, type из items, где type равен item_type

In [ ]:
# вывести name, type из items и price из prices
# указывать только товары содержащие цены и не должно быть цен без товаров

In [ ]:
# вывести name, type из items и price из prices
# могут быть товары, у которых нет цены

In [ ]:
# получить среднюю цену

In [ ]:
# получить id товаров и цену для товаров, у которых цена < средней цены